/* GLOBAL */
*{
    box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: 16px;
  line-height: 1.5;
  color: #444;
}
*:focus{
  outline: 3.5px dotted #de2e54;
  outline-offset: 3px;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
   padding-left: 30px;
   padding-right: 30px;
}


/* SITE HEADER */
.header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.site-logo:hover{
  color: #de2e54;
}
.site-logo:active{
  opacity: 0.6;
}
.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}

/* SITE NAV */
.site-header_nav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.site-nav_list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav_item:not(:last-child){
  margin-right: 32px;
}
.site-nav_link{
  display: block;
  text-decoration: none;
  color: #222;
}
.site-nav_link:hover{
  color: #de2e54;
}
.site-nav_link:active{
  opacity: 0.6;
}

.site-header_btn{
  display: inline-block;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px 22px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #de2e54;
}
.site-header_btn:hover{
  background-color: #fff;
  color: #de2e54;
  border-color: #de2e54;
}
.site-header_btn:active{
  opacity: 0.6;
  background-color: #de2e54;
  color: #fff;
}
/* //SITE NAV */
/* //SITE HEADER */


/*  SITE FOOTER */
.footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}
.site-footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo_footer{
  color: #fff;
}
.site-logo_footer:hover{
  color: #de2e54;
}
.site-logo_footer:active{
  opacity: 0.6;
  color: #fff;
}
/* FOOTER NAV */
.site-footer_nav .site-nav_link{
  color: #fff;
}
.site-footer_nav .site-nav_link:hover{
  color: #de2e54;
}
.site-footer_nav .site-nav_link:active{
  opacity: 0.6;
  color: #fff;
}
/* //FOOTER NAV */
/* //SITE FOOTER */