/* GLOBAL */
*{
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: 16px;
  line-height: 1.5;
  color: #444;
}
*:focus{
  outline: 3.5px dotted #de2e54;
  outline-offset: 3px;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
   padding-left: 30px;
   padding-right: 30px;
}


/* SITE HEADER */
.header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.site-logo:hover{
  color: #de2e54;
}
.site-logo:active{
  opacity: 0.6;
}
.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}

/* SITE NAV */
.site-header_nav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.site-nav_list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav_item:not(:last-child){
  margin-right: 32px;
}
.site-nav_link{
  display: block;
  text-decoration: none;
  color: #222;
}
.site-nav_link:hover{
  color: #de2e54;
}
.site-nav_link:active{
  opacity: 0.6;
}

.main-btn{
  display: inline-block;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px 22px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #de2e54;
}
#main-btn_outline{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
#main-btn_outline:hover{
  background-color: #de2e54;
  color: #fff;
  border-color: transparent;
}
.main-btn:hover{
  background-color: #fff;
  color: #de2e54;
  border-color: #de2e54;
}
.main-btn:active{
  opacity: 0.6;
  background-color: #de2e54;
  color: #fff;
}
/* //SITE NAV */
/* //SITE HEADER */

/* MAIN CONTENT */
/* SECTION HERO */
.section_hero{
  background-color: #0EB4C1;
  color: #fff;
}
.hero_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-heading{
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 36px;
}
.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}
.hero-btn:hover{
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
  border-color: transparent;
}
.hero-btn:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}
.hero-img{
  align-self: flex-end;
}
/* //SECTION HERO */


/* SECTION SERVICES */
.services{
  padding-top: 120px;
  padding-bottom: 120px;
}
.services-heading{
  margin-top: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 56px;
}

.services-list{
  width: 864px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  list-style: none;
}
.services-item:not(:last-child){
  margin-right: 80px;
}
.index-service{
  justify-content: center;
  display: flex;
  align-items: center;
}
.index-service img{
  width: 200px;
  height: 200px;
  margin-right: 64px;
  object-fit: cover;
}

.index-service_content{
  width: 600px;
}
.index-service_title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}
.index-service_information{
  margin: 0;
}

.index-services_actions{
  display: flex;
  justify-content: center;
}
/* //SECTION SERVICES */


/* SECTION CTA */
.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
  color: #fff;
}
.cta-heading{
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.cta-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-links_item:not(:last-child){
  margin-right: 40px;
}
/* //SECTION CTA */
/* //MAIN CONTENT */

/*  SITE FOOTER */
.footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}
.site-footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo_footer{
  color: #fff;
}
.site-logo_footer:hover{
  color: #de2e54;
}
.site-logo_footer:active{
  opacity: 0.6;
  color: #fff;
}
/* FOOTER NAV */
.site-footer_nav .site-nav_link{
  color: #fff;
}
.site-footer_nav .site-nav_link:hover{
  color: #de2e54;
}
.site-footer_nav .site-nav_link:active{
  opacity: 0.6;
  color: #fff;
}
/* //FOOTER NAV */
/* //SITE FOOTER */